# node_modules
node_modules/

# yarn
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn/cache
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# build output
dist/
test/

# environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
.idea

# docker\
docker-compose.*.run.yml
